nav {

	.hamburger {
		position: fixed;
		top:10px;
		right:20px;
		display:block;
		width: 35px;
		height: 35px;
		appearance: none;
		background: none;
		border:none;
		z-index: 200;
		transition: top 0.5s;
	}

	.hamburger .bar, .hamburger:after, .hamburger:before {
		content: "";
		width:100%;
		height:5px;
		margin: 6px 0;
		transition: 0.4s;
		display: block;
		background: white;
	}

	.hamburger.is-active:before {
		transform: rotate(-45deg) translate(-8px, 6px);
	}

	.hamburger.is-active:after {
		transform: rotate(45deg) translate(-9px, -8px);
	}
	
	.hamburger.is-active .bar {
		opacity: 0;
	}
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 70%;
	min-height: 100vh;
	display: block;
	z-index: 90;
	background-color: #d8c295;
	padding-top: 120px;
	transition: 0.4s;

	a {
		display: block;
		width: 100%;
		max-width: 200px;
		margin: 0 auto 16px;
		text-align: center;
		padding: 12px 0;
		color: #FFF;
		text-decoration: none;
	}
}

.mobile-nav.is-active {
	left: 30%;
}

.mobile-op{
	position:fixed;
	top:0;
	left:0;
	width: 100vw;
	height:100vh;
	background-color: black;
	opacity :0;
	transition: opacity 1s;
	
	
}

.mobile-op.is-active {
	opacity: .5;
	z-index: 80;
	transition: opacity 1s;
}
