@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
nav .hamburger {
  position: fixed;
  top: 10px;
  right: 20px;
  display: block;
  width: 35px;
  height: 35px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  z-index: 100;
  transition: top 0.5s;
}
nav .hamburger span:nth-child(1), nav .hamburger span:nth-child(2), nav .hamburger span:nth-child(3) {
  width: 100%;
  height: 2px;
  margin: 9px 0;
  transition: 0.4s;
  display: block;
  background: #d8c295;
}
nav .hamburger.is-active {
  position: fixed !important;
}
nav .hamburger.is-active span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
  background: white;
}
nav .hamburger.is-active span:nth-child(2) {
  opacity: 0;
}
nav .hamburger.is-active span:nth-child(3) {
  transform: rotate(45deg) translate(-9px, -10px);
  background: white;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 85%;
  min-height: 100vh;
  display: block;
  z-index: 90;
  background-color: #d8c295;
  padding-top: 120px;
  transition: 0.4s;
}
.mobile-nav a {
  font-size: 11px;
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 12px;
  text-align: center;
  padding: 12px 0;
  color: #FFF;
  text-decoration: none;
}
.mobile-nav span#copyright {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 10px;
  margin-top: 190px;
  text-transform: uppercase;
}

.mobile-nav.is-active {
  left: 15%;
}

.mobile-op {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  transition: opacity 1s;
}

.mobile-op.is-active {
  opacity: 0.5;
  z-index: 80;
  transition: opacity 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

::-moz-selection {
  color: #ffffff;
  background-color: #d8c295;
}

::selection {
  color: #ffffff;
  background-color: #d8c295;
}

body, html {
  background-color: #ffffff;
  overflow-x: hidden;
  width: 100%;
  outline: none !important;
}

#hero-banner {
  position: relative;
  overflow: hidden;
  background-image: url(assets/headerhero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0px;
  margin-bottom: 107px;
}
#hero-banner .header-text {
  position: relative;
  z-index: 10;
  padding-top: 241px;
  margin-left: 82px;
}
#hero-banner .header-text h1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.06em;
  text-align: left;
  color: #ffffff;
}
#hero-banner .header-text p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #ffffff;
}
#hero-banner .header-text button {
  background-color: #d8c295;
  color: #1f1f1f;
  width: 320px;
  height: 60px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.02em;
  border: none;
  box-shadow: none !important;
}

#hero-banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}

header nav .navi {
  position: fixed;
  top: 0;
  padding-right: 77px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.5s;
  transition-property: top, background-color;
  z-index: 100;
}
header nav .navi .navig {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: center;
}
header nav .navi .navig .logo-text {
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.045em;
  color: #d8c295;
}
header nav .navi .navig a {
  color: #ffffff;
  text-decoration: none;
}

.navi.is-scrolling {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 50;
}

#purchase-cta {
  margin-bottom: 107px;
}
#purchase-cta figure.percentage {
  display: none;
}
#purchase-cta h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.06em;
  margin-bottom: 30px;
}
#purchase-cta p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: justify;
}
#purchase-cta button {
  background-color: #d8c295;
  color: #1f1f1f;
  width: 320px;
  height: 60px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.02em;
  border: none;
  margin-top: 55px;
  box-shadow: 0px 10px 26px #a8a8a859;
}

#schedule-and-payment-cta .container-fluid {
  background-color: #e5e5e5;
  margin-bottom: 52px;
  padding: 61px 0;
}
#schedule-and-payment-cta .container-fluid h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.06em;
}
#schedule-and-payment-cta .container-fluid h3 {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.06em;
  margin-bottom: 30px;
}
#schedule-and-payment-cta .container-fluid p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: justify;
}
#schedule-and-payment-cta .container-fluid button {
  background-color: #d8c295;
  color: #1f1f1f;
  width: 320px;
  height: 60px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.02em;
  border: none;
  margin-top: 57px;
  box-shadow: 0px 10px 26px #a8a8a859;
}

#icon-section .container {
  margin-bottom: 73px;
}
#icon-section .container .content-title {
  margin-bottom: 96px;
}
#icon-section .container .content-title h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.06em;
}
#icon-section .container .row p {
  text-align: center;
  padding-top: 30px;
}

#spotlight-cta .container-fluid {
  background-color: #e5e5e5;
  padding: 61px 0;
}
#spotlight-cta .container-fluid h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.06em;
}
#spotlight-cta .container-fluid h3 {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.06em;
  margin-bottom: 30px;
}
#spotlight-cta .container-fluid p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: justify;
}
#spotlight-cta .container-fluid button {
  background-color: #d8c295;
  color: #1f1f1f;
  width: 320px;
  height: 60px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.02em;
  border: none;
  margin-top: 57px;
  box-shadow: 0px 10px 26px #a8a8a859;
}

#testimonials-hero .container-fluid {
  position: relative;
  height: 350px;
  background-image: url(assets/testimonials.png);
  background-size: cover;
}
#testimonials-hero .container-fluid .testimonials {
  width: 780px;
  position: relative;
  z-index: 10;
}
#testimonials-hero .container-fluid .testimonials img.bottom-quotes {
  position: absolute;
  top: -17px;
  left: -41px;
}
#testimonials-hero .container-fluid .testimonials img.top-quotes {
  position: absolute;
  bottom: -9px;
  right: 131px;
}
#testimonials-hero .container-fluid .testimonials h6 {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.005em;
  color: #ffffff;
}
#testimonials-hero .container-fluid:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}

#registeration-cta .container-fluid {
  height: 450px;
  background-image: url(assets/iPhone-13-both.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#registeration-cta .container-fluid img.iphone-half {
  display: none;
}
#registeration-cta .container-fluid img.iphone-second-half {
  display: none;
}
#registeration-cta .container-fluid .cta {
  width: 780px;
}
#registeration-cta .container-fluid .cta h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.06em;
}
#registeration-cta .container-fluid .cta p {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -0.005em;
  margin-bottom: 83px;
}
#registeration-cta .container-fluid .cta button {
  background-color: #d8c295;
  color: #1f1f1f;
  width: 320px;
  height: 60px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.02em;
  border: none;
  box-shadow: 0px 10px 26px #a8a8a859;
}

#frequently-asked-questions .container-fluid {
  height: 650px;
}
#frequently-asked-questions .container-fluid .faq {
  width: 700px;
}
#frequently-asked-questions .container-fluid .faq .accordion-item {
  border: 1px solid #d8c295;
  border-radius: 5px;
  box-shadow: 0px 10px 26px #a8a8a859;
  overflow: hidden;
}
#frequently-asked-questions .container-fluid .faq .accordion-item button {
  background-color: #ffffff;
  border-color: #d8c295;
  color: #1f1f1f;
  box-shadow: none;
}
#frequently-asked-questions .container-fluid .faq .accordion-item .accordion-button.collapsed::after {
  background-image: url(assets/plusicon.svg);
}
#frequently-asked-questions .container-fluid .faq .accordion-item .accordion-button::after {
  background-image: url(assets/minusicon.svg);
}
#frequently-asked-questions .container-fluid .faq h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.06em;
}
#frequently-asked-questions .container-fluid .faq .faq-heading {
  margin-bottom: 30px;
}
#frequently-asked-questions .container-fluid .faq p {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -0.005em;
}

footer .container-fluid {
  padding: 0 50px;
}
footer .container-fluid .logo-text {
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.045em;
  color: #1f1f1f;
  margin-bottom: 16px;
}
footer .container-fluid .sm-links {
  padding-bottom: 33px;
  border-bottom: 1px solid #1f1f1f;
}
footer .container-fluid .sm-links i {
  font-size: 30px;
  transition: color 0.5s;
}
footer .container-fluid .sm-links i:hover {
  color: #d8c295;
}
footer .container-fluid .copyright {
  margin-top: 10px;
  margin-bottom: 36px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0em;
}

@media screen and (max-width: 576px) {
  body, html {
    overflow-x: hidden;
  }

  p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
  }

  #hero-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -920px 0;
    margin-bottom: 0;
  }
  #hero-banner .header-text {
    position: relative;
    margin-left: 0;
    padding-top: 250px;
    text-align: center;
    z-index: 2;
  }
  #hero-banner .header-text h1 {
    text-align: center;
  }
  #hero-banner .header-text p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
    text-align: center;
    margin-bottom: 140px !important;
  }
  #hero-banner .header-text button {
    background-color: #d8c295;
    color: #1f1f1f;
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.02em;
    border: none;
  }

  #hero-banner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
  }

  header nav .px-2 {
    display: none;
  }
  header nav .navi {
    padding-left: 20px;
  }

  #purchase-cta {
    margin-bottom: 60px;
  }
  #purchase-cta h2 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.06em;
  }
  #purchase-cta p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
  }
  #purchase-cta .percent {
    display: none !important;
  }
  #purchase-cta .percentage {
    display: block !important;
  }
  #purchase-cta button {
    background-color: #d8c295;
    color: #1f1f1f;
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.02em;
    border: none;
  }

  #schedule-and-payment-cta .container-fluid {
    position: relative;
  }
  #schedule-and-payment-cta .container-fluid h2 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.06em;
  }
  #schedule-and-payment-cta .container-fluid h3 {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.06em;
  }
  #schedule-and-payment-cta .container-fluid p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
  }
  #schedule-and-payment-cta .container-fluid button {
    background-color: #d8c295;
    color: #1f1f1f;
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.02em;
    border: none;
  }
  #schedule-and-payment-cta .container-fluid .img-fluid {
    position: absolute;
    right: -60px;
    top: 0;
    opacity: 0.1;
  }
  #schedule-and-payment-cta .container-fluid .schedule-sessions {
    position: relative;
    z-index: 10;
  }

  #icon-section .container {
    padding: 0 20px;
    margin-bottom: 43px;
  }
  #icon-section .container .content-title {
    margin-bottom: 40px;
  }
  #icon-section .container .content-title h2 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.06em;
  }
  #icon-section .container img {
    width: 60% !important;
  }

  #spotlight-cta .container-fluid {
    position: relative;
  }
  #spotlight-cta .container-fluid h2 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.06em;
  }
  #spotlight-cta .container-fluid h3 {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.06em;
  }
  #spotlight-cta .container-fluid p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
  }
  #spotlight-cta .container-fluid button {
    background-color: #d8c295;
    color: #1f1f1f;
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.02em;
    border: none;
    position: relative;
    z-index: 10;
  }
  #spotlight-cta .container-fluid .service-preview {
    position: absolute;
    opacity: 0.1;
    top: 119px;
    left: -131px;
  }
  #spotlight-cta .container-fluid .sessions-payment {
    position: absolute;
    opacity: 0.1;
    top: -80px;
    right: -59px;
  }

  #testimonials-hero .container-fluid {
    position: relative;
    background-position: -670px 0;
    background-size: cover;
  }
  #testimonials-hero .container-fluid .testimonials h6 {
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.005em;
  }
  #testimonials-hero .container-fluid .testimonials img.bottom-quotes {
    position: absolute;
    top: -22px !important;
    left: -9px !important;
  }
  #testimonials-hero .container-fluid .testimonials img.top-quotes {
    bottom: -10px !important;
    right: 13px !important;
  }

  #registeration-cta .container-fluid {
    background-image: none;
    position: relative;
  }
  #registeration-cta .container-fluid .cta {
    position: relative;
    z-index: 10;
  }
  #registeration-cta .container-fluid .cta h2 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.06em;
  }
  #registeration-cta .container-fluid .cta button {
    background-color: #d8c295;
    color: #1f1f1f;
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.02em;
    border: none;
  }
  #registeration-cta .container-fluid img.iphone-half {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
  }
  #registeration-cta .container-fluid img.iphone-second-half {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9;
  }

  #frequently-asked-questions .container-fluid .faq h2 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.06em;
  }

  footer .container-fluid .copyright {
    font-size: 10px;
  }
  footer .container-fluid .sm-links .px-4 {
    padding-right: 0 !important;
  }
}
@media (min-width: 576px) {
  nav .hamburger, nav .mobile-nav {
    display: none;
  }

  .mobile-op {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */